<!--start footer-->
<tr>
    <td colspan=3  style="height:40px;width:100%; background-color:#efefeb ">
        <div style="background-color: #FFFFFF; height:40px;margin:0;padding: 0; width: 100%; border-bottom-right-radius: 14px; border-bottom-left-radius: 14px;">
            &nbsp;
        </div>
    </td>
</tr>

<tr>
    <td colspan="3" style="padding: 40px 0;  font-size: 12px; font-weight: normal; color: #acacac; line-height: 18px; background-color: #efefeb; text-align: center;">
        <div>
            &copy;{{general.year}} {{general.company}}
        </div>
    </td>
</tr>
</table>
</div>
</div>