<div style="width:100%; min-width: 320px; background-color: #efefeb;">
    <div style="margin: 0 auto;  width: 100%;  max-width: 630px;">
        <table style="margin: 0 auto;  width: 100%;  max-width: 608px; font-family: Arial;  background-color: #ffffff;  table-layout: fixed; text-align: center; " cellspacing=0 cellpadding=0>
            <tr style="background-color:#3d95db">
                <td style="padding-top: 20px; padding-bottom: 20px; height:30px; width: auto;">
                    &nbsp;
                </td>
                <td style="padding-top: 20px; padding-bottom: 20px; width: 150px; text-align: center;">
                    <div>
                        <img width="125" height="30" style="vertical-align: bottom; width: 125px; height: 30px;"
                             src="{{general.appUrl}}{{general.imagesPath}}/logo.png" alt="{{general.appName}}"/>
                    </div>
                </td>
                <td style="padding-top: 20px;padding-bottom: 20px; height:30px; width: auto;">
                    &nbsp;
                </td>
            </tr>
            <!-- end header -->