<tr>
    <td style="padding-top: 20px; padding-bottom: 20px; height:85px; width: auto;">
        &nbsp;
    </td>
    <td style="padding-top: 20px; padding-bottom: 20px; width: 85px; text-align: center;">
        <div>
            <img width="30" height="30" style="vertical-align: bottom; width: 85px; height: 85px;"
                 src="{{general.appUrl}}{{general.imagesPath}}/key.png" />
        </div>
    </td>
    <td style="padding-top: 12px;padding-bottom: 12px; height:85px; width: auto;">
        &nbsp;
    </td>
</tr>
<tr>
    <td colspan="3" style="padding: 0px 10% 20px 10%;  color: #F7F7F7;">
        <div style="border-radius:  3px; background-color:#F7F7F7; font-size: 18px; color: #666666; width: 100%; display: inline-block;padding-top:20px; padding-bottom:20px">
            Someone requested a new password for this account
        </div>
    </td>
</tr>

<tr >
    <td  colspan="3" style="padding: 0px 10% 24px 10%;text-align: center">
        <p style="font-size:18px;color:#666666; text-align: left; line-height: 30px">
        <p>Hello {{custom.to.firstName}},</p>
        <p>We received a request to change your {{general.appName}} account password. </p>
        <br/>
    </td>
</tr>

<!--action button-->
<tr >
    <td  colspan="3" style="padding: 0px 10% 24px 10%;text-align: center">
        <a style="text-decoration: none;display:  inline-block ;"
           href="{{general.appUrl}}reset-password/#{{custom.password_reset_token}}" target="_blank">
            <div style="padding: 0 45px; height: 64px;color: #ffffff;font-family: Arial;font-size: 24px;line-height: 64px;
                         background-color: #EF2635;border-radius: 50px; ">Reset Password
            </div>
        </a>
    </td>
</tr>
