<tr>
    <td style="padding-top: 20px; padding-bottom: 20px; height:75px; width: auto;">
        &nbsp;
    </td>
    <td style="padding-top: 20px; padding-bottom: 20px; width: 70px; text-align: center;">
        <div>
            <img width="30" height="30" style="vertical-align: bottom; width: 70px; height: 75px;"
                 src="{{general.appUrl}}{{general.imagesPath}}/welcome.png" />
        </div>
    </td>
    <td style="padding-top: 12px;padding-bottom: 12px; height:75px; width: auto;">
        &nbsp;
    </td>
</tr>
<tr>
    <td colspan="3" style="padding: 0px 10% 20px 10%;  color: #F7F7F7;">
        <div style="font-size: 30px; color: #666666; width: 100%; display: inline-block;padding-top:20px; padding-bottom:20px">
            {{custom.subject}}
        </div>
    </td>
</tr>

<tr >
    <td  colspan="3" style="padding: 0px 10% 24px 10%;text-align: center">
        <p style="font-size:18px;color:#666666; text-align: left; line-height: 30px">
            Thanks for signing up! We're looking forward to helping you engage your audience. If you ever have any questions, don't be shy.
            Email us at <a style="text-decoration: none;color:#46bbFD" href="mailto:hello@CodeCampApp.com" target="_blank">hello@CodeCampApp.com</a>.
        </p>
    </td>
</tr>